/** ==========================================================
  From Original W3 Template
========================================================== **/

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif;
}

.fa-anchor,.fa-coffee {
    font-size:200px;
}

/** ==========================================================
  Custom Classes
========================================================== **/

.container-for-gif{
    height: 20em;
    width: 25em;
}

.custom-grid-padding{

}

.header-content-style{
    height: 70vh;
}

.custom-header{
    height: 100%;
    width: 100%;
    background-image: url('../media/spash-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-header-fade{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom left,white,  white, black, black,  white);
    opacity:.6;
}

.custom-header-text{
    padding-top: 15vh;
}

.custom-header-text-bold{
    font-size: 1.45em;
}

.custom-header-text-bold-sub{
    font-size: 1.35em;
}

.custom-span-faded-6{
    opacity: .6;
}

.custom-span-faded-8{
    opacity: .8;
}

.custom-splash-page-image-thirds{
    height: 95%;
    width: 95%;
}

.how-it-works-gifs{
    width: 95%;
}

.message{
    color:red;
}

.to-your-home{
    height: 14em;
    width: 18em;
}

/** ============================================================================
    Animation Classes
=============================================================================**/

.spin {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
